{% extends  'en/menu_footer.html' %}
{% load static %}
{% block title %} Password recovery {%endblock %}
{% block content %}

  <!--Password Reset Confirm-->
    <div class="container p-5">

        <form method="POST">
            {% csrf_token %}
            <div class="center" style="max-width: 600px; margin-top: 0px">

            <p style="margin-bottom: 25px;">Please enter your new password.</p>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                                                    {{ forgot_password_form_pswd.password1 }}
                                                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                                                </div>
            <div class="wrap-input100 validate-input"
                                                     data-validate="Enter password">
                                                    {{ forgot_password_form_pswd.password2 }}
                                                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                                                </div>
                <button class="btn btn-primary" name="reset_pswd_b" id="reset_pswd_b" type="submit">Reset password</button>
            </div>



        </form>
    </div>

{% endblock %}