{% extends 'ru/menu_footer.html' %}
{% load static %}
{% block title %} Tariffs {% endblock %}
{% block content %}


<script>


</script>
<style>

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
box-sizing: border-box;
}



.text-center {
text-align: center;
}

.pricing-box-container {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.pricing-box {
background-color: #ffffff;
box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
border-radius: 4px;
flex: 1;
padding: 0 0 30px 0;
margin: 2%;
min-width: 250px;
max-width: 350px;
}

.pricing-box h5 {
margin: 24px 0;
color: #173d50;
font-size: 36px;
}

.price {
margin: 24px 0;
font-size: 36px;
font-weight: 900;
}

.price sub, .price sup {
font-size: 16px;
font-weight: 100;
}

.features-list {
padding: 0;
list-style-type: none;
}

.features-list li {
font-weight: 100;
padding: 12px 0;
font-weight: 100;
}

.features-list li:not(:last-of-type) {
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-primary {
border-radius: 25px;
border: none;
background-color: #EC1362;
color: #ffffff;
cursor: pointer;
padding: 10px 15px;
margin-top: 20px;
text-transform: uppercase;
transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
transform: translateY(-3px);
}

strike{
color:red;
}
em{
color:green;
}
</style>




<form action="" method="POST">
{% csrf_token %}

<div class="center" style="text-align:center; margin:auto; padding: 0 0 40px 0;">
<div class="container" align="center">
<h2 class="heading-secondary" style="color:#FFCE8E; font-size: 3rem; margin: 24px;">
ТАРИФЫ
</h2>
</div>


<div class="pricing-box-container">


<div class="pricing-box text-center" style="background-color: #151719; color: white; opacity: .7; box-shadow: 0px 2px 15px 0px;">
<h5 style="color: white;">Full access</h5>
<p class="price"><sup style="color: #1bbc9d; font-size: 2rem;">₽ </sup><text style="color: white; font-size: 5rem;">9999</text><sub style="color: #1bbc9d; font-size: 2rem;">/год</sub></p>
<ul class="features-list">
<li>Работа с двумя датами</li>
<li>Расчет для всех доступных дат</li>
<li>Избранное</li>
<li><em>Полный</em> доступ к историческим личностям и историческим событиям</li>
<li><em>Круглосуточная</em> поддержка</li>
</ul>
{% if user.role == 3 %}
<p style="color:green;margin-top: 25px;">ТАРИФ АКТИВИРОВАН до {{user.date_end|date:"d M Y"}}</p>
{% elif user.role > 3 %}
<p></p>
{% else %}
<input type="submit" class="btn-primary" name="pay_full" value="Купить">
{% endif %}
</div>
</div>


<h5 class="heading-third" style="color:#FFCE8E; font-size: 1rem; margin: 10px;">
Перед оплатой прочитайте <a href="{% url 'offer_ru'%}"><u>Договор оферты</u></a> and <a href="{% url 'agreement_ru'%}"><u>Пользовательское соглашение</u></a>
</h5>
<h5 class="heading-third" style="color:#FFCE8E; font-size: 1rem;">
Оплачивая, вы выражаете свое согласие
</h5>


</div>

</form>
{% endblock content %}