{% extends  'menu_footer_.html' %}
{% load static %}
{% block title %} Page not found {% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-15 col-sm-15">
        <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto card_full" style="">
            <h3 class="card-header display-1 text-center">
                404
            </h3>

            <span class="card-subtitle mb-2 text-center">
                Page not found.
            </span>

            <div class="card-body mx-auto">
                <a type="button" href="{% url 'Rakurs' %}"
                class="btn btn-sm btn-info text-white"> Main page. </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}