{% extends 'menu_footer.html' %}
{% load static %}
{% block title %} Tariffs {% endblock %}
{% block content %}


<script>


</script>
<style>

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
box-sizing: border-box;
}



.text-center {
text-align: center;
}

.pricing-box-container {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.pricing-box {
background-color: #ffffff;
box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
border-radius: 4px;
flex: 1;
padding: 0 0 30px 0;
margin: 2%;
min-width: 250px;
max-width: 350px;
}

.pricing-box h5 {
margin: 24px 0;
color: #173d50;
font-size: 36px;
}

.price {
margin: 24px 0;
font-size: 36px;
font-weight: 900;
}

.price sub, .price sup {
font-size: 16px;
font-weight: 100;
}

.features-list {
padding: 0;
list-style-type: none;
}

.features-list li {
font-weight: 100;
padding: 12px 0;
font-weight: 100;
}

.features-list li:not(:last-of-type) {
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-primary {
border-radius: 25px;
border: none;
background-color: #EC1362;
color: #ffffff;
cursor: pointer;
padding: 10px 15px;
margin-top: 20px;
text-transform: uppercase;
transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
transform: translateY(-3px);
}

strike{
color:red;
}
em{
color:green;
}
</style>

<script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>
<script>
function pay() {


//Initializing the widget. All parameters are required, except for the customization object.
const checkout = new window.YooMoneyCheckoutWidget({
confirmation_token: 'confirmation-token', //A token that must be received from YUKASSA before making a payment
return_url: 'https://example.com ', //Link to the payment completion page

//Configuring
the customization widget: {
//Configuring the display method
modal: true
},
error_callback: function(error) {
//Handling initialization errors
}
});

//Displaying the payment form in
the checkout.render()modal window
//The method returns a Promise, the execution of which indicates that the payment form is fully loaded (you can not use it).
.then(() => {
//The code to be executed after the payment form is displayed.
});



}
</script>


<form action="" method="POST">
{% csrf_token %}

<div class="center" style="text-align:center; margin:auto; padding: 0 0 40px 0;">
<div class="container" align="center">
<h2 class="heading-secondary" style="color:#FFCE8E; font-size: 3rem; margin: 24px;">
TARIFF PLANS
</h2>
<h5 class="heading-third" style="color:#FFCE8E; font-size: 1.5rem; margin: 24px;">
Tariff plans allow you to use additional features
</h5>
</div>


<div class="pricing-box-container">
<div class="pricing-box text-center">
<h5>Initial</h5>
<p class="price"><sup style="color: #1bbc9d; font-size: 2rem;">₽</sup><text style="color: #173d50; font-size: 5rem;">300</text><sub style="color: #1bbc9d; font-size: 2rem;">/month</sub></p>
<ul class="features-list">
<li>Working with two dates</li>
<li>Calculation of the angle for the current month</li>
<li><strike>Favorites</strike></li>
<li><strike>Access to Events</strike></li>
<li><strike>Access to Personas</strike></li>
<li><em>24/7</em> Support</li>
</ul>
{% if user.role == 1 %}
<p style="color:green">TARIFF ACTIVATED</p>
{% elif user.role > 1 %}
<p></p>
{% else %}
<input type="submit" class="btn-primary" name="pay_start" value="Pay">
{% endif %}
</div>

<div class="pricing-box pricing-box text-center">
<h5>Advanced</h5>
<p class="price"><sup style="color: #1bbc9d; font-size: 2rem;">₽</sup><text style="color: #173d50; font-size: 5rem;">600</text><sub style="color: #1bbc9d; font-size: 2rem;">/month</sub></p>
<ul class="features-list">
<li>Working with two dates</li>
<li>Calculation of the angle for the current month</li>
<li>Favorites</li>
<li>Basic access to Events</li>
<li>Basic access to Persons</li>
<li><em>24/7</em> Support</li>
</ul>
{% if user.role == 2 %}
<p style="color:green">TARIFF ACTIVATED</p>
{% elif user.role > 2 %}
<p></p>
{% else %}
<input type="submit" class="btn-primary" name="pay_standart" value="Pay">
{% endif %}
</div>

<div class="pricing-box text-center">
<h5>Full access</h5>
<p class="price"><sup style="color: #1bbc9d; font-size: 2rem;">₽</sup><text style="color: #173d50; font-size: 5rem;">900</text><sub style="color: #1bbc9d; font-size: 2rem;">/month</sub></p>
<ul class="features-list">
<li>Working with two dates</li>
<li>Calculation of the angle for the current month</li>
<li>Favorites</li>
<li><em>Full</em> access to Events</li>
<li><em>Full</em> access to Personas</li>
<li><em>24/7</em> Support</li>
</ul>
{% if user.role == 3 %}
<p style="color:green">TARIFF ACTIVATED</p>
{% elif user.role > 3 %}
<p></p>
{% else %}
<input type="submit" class="btn-primary" name="pay_full" value="Pay">
{% endif %}
</div>
</div>


<h5 class="heading-third" style="color:#FFCE8E; font-size: 1rem; margin: 10px;">
Before paying, read <a href="{% url 'offer'%}"><u>The Contract of the Offer</u></a> and <a href="{% url 'agreement'%}"><u>User Agreement</u></a>
</h5>
<h5 class="heading-third" style="color:#FFCE8E; font-size: 1rem;">
By paying, you express your consent
</h5>


</div>

</form>
{% endblock content %}