{% extends  'menu_footer.html' %}
{% load static %}
{% block title %} Тарифы {% endblock %}
{% block content %}


<script>
	
	
</script>
<style>

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	box-sizing: border-box;
}



.text-center {
	text-align: center;
}

.pricing-box-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.pricing-box {
	background-color: #ffffff;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
	border-radius: 4px;
	flex: 1;
	padding: 0 30px 30px;
	margin: 2%;
	min-width: 250px;
	max-width: 350px;
}

.pricing-box h5 {
	margin: 24px 0;
	color: #173d50;
	font-size: 36px;
}

.price {
	margin: 24px 0;
	font-size: 36px;
	font-weight: 900;
}

.price sub, .price sup {
	font-size: 16px;
	font-weight: 100;
}

.features-list {
	padding: 0;
	list-style-type: none;
}

.features-list li {
	font-weight: 100;
	padding: 12px 0;
	font-weight: 100;
}

.features-list li:not(:last-of-type) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-primary {
	border-radius: 25px;
	border: none;
	background-color: #EC1362;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 15px;
	margin-top: 20px;
	text-transform: uppercase;
	transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
	transform: translateY(-3px);
}







</style>
<div class="center">
<div class="container" align="center">
		<h2 class="heading-secondary" style="color:#FFCE8E; font-size: 3rem; margin: 24px;">
          ТАРИФНЫЕ ПЛАНЫ
        </h2>
		  <h5 class="heading-third" style="color:#FFCE8E; font-size: 1.5rem; margin: 24px;">
			  Тарифные планы позволяют использовать дополнительные возможности
		  </h5>
</div>
<div class="container" align="center">



<div class="pricing-box-container">
	<div class="pricing-box text-center">
		<h5>Начальный</h5>
		<p class="price"><sup style="color: #1bbc9d; font-size: 2rem;">₽</sup"><text style="color: #173d50; font-size: 5rem;">300</text><sub style="color: #1bbc9d; font-size: 2rem;">/месяц</sub></p>
		<ul class="features-list">
								<li>Работа с двумя датами</li>
								<li>Расчет ракурса на текущий месяц</li>
								<li><strike>Избранное</strike></li>
								<li><strike>Доступ к Событиям</strike></li>
								<li><strike>Доступ к Персонам</strike></li>
								<li><em>24/7</em> Поддержка</li>
		</ul>
		<button class="btn-primary">Оплатить</button>
	</div>

	<div class="pricing-box pricing-box text-center">
		<h5>Продвинутый</h5>
		<p class="price"><sup style="color: #1bbc9d; font-size: 2rem;">₽</sup"><text style="color: #173d50; font-size: 5rem;">600</text><sub style="color: #1bbc9d; font-size: 2rem;">/месяц</sub></p>
		<ul class="features-list">
								<li>Работа с двумя датами</li>
								<li>Расчет ракурса на текущий месяц</li>
								<li>Избранное</li>
								<li>Базовый доступ к Событиям</li>
								<li>Базовый доступ к Персонам</li>
								<li><em>24/7</em> Поддержка</li>
		</ul>
		<button class="btn-primary">Оплатить</button>
	</div>

	<div class="pricing-box text-center">
		<h5>Полный доступ</h5>
		<p class="price"><sup style="color: #1bbc9d; font-size: 2rem;">₽</sup"><text style="color: #173d50; font-size: 5rem;">900</text><sub style="color: #1bbc9d; font-size: 2rem;">/месяц</sub></p>
		<ul class="features-list">
								<li>Работа с двумя датами</li>
								<li>Расчет ракурса на текущий месяц</li>
								<li>Избранное</li>
								<li><em>Полный</em> доступ к Событиям</li>
								<li><em>Полный</em> доступ к Персонам</li>
								<li><em>24/7</em> Поддержка</li>
		</ul>
		<button class="btn-primary">Оплатить</button>
	</div>
</div>


		  <h5 class="heading-third" style="color:#FFCE8E; font-size: 1rem; margin: 10px;">
			  Перед оплатой ознакомьтесь с <a href="{% url 'offer' %}">Договором Оферты</a> и <a href="{% url 'agreement' %}">Пользовательским Соглашением</a>
		  </h5>
		  <h5 class="heading-third" style="color:#FFCE8E; font-size: 1rem;">
			  Оплачивая, вы выражаете свое согласие
		  </h5>


</div>


{% endblock content %}